.App {
	text-align: center;
	box-sizing: border-box;
}

@media (prefers-reduced-motion: no-preference) {
	.App-logo {
		animation: App-logo-spin infinite 20s linear;
	}
}

.App-header {
	background-color: #282c34;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	font-size: calc(10px + 2vmin);
	color: white;
}

/* GRID */
.grid {
	display: flex;
}

.cell {
	height: 0.45vw;
	width: 0.45vw;
	border: 1px solid rgb(117, 115, 115);
	border-radius: 3px;
	background-color: whitesmoke;
}

.blackCell {
	height: 0.45vw;
	width: 0.45vw;
	border: 1px solid rgb(117, 115, 115);
	background-color: rgb(103, 4, 110);
}

.input {
	align-items: center;
	background-color: none;
	box-sizing: border-box;
	color: #fff;
	display: inline-flex;
	fill: #000;
	font-family: Inter, sans-serif;
	font-size: 16px;
	font-weight: 600;
	height: 48px;
	justify-content: center;
	letter-spacing: -0.8px;
	line-height: 20px;
	max-width: 240px;
	outline: 0;
	padding: 0 17px;
	text-align: center;
	text-decoration: none;
	transition: all 0.3s;
	user-select: none;
	-webkit-user-select: none;
	touch-action: manipulation;
}

.input-text {
	color: #000;
}

.button {
	align-items: center;
	background-color: rgb(103, 4, 110);
	box-sizing: border-box;
	color: #fff;
	cursor: pointer;
	display: inline-flex;
	fill: #000;
	font-family: Inter, sans-serif;
	font-size: 16px;
	font-weight: 600;
	height: 48px;
	justify-content: center;
	letter-spacing: -0.8px;
	line-height: 24px;
	min-width: 140px;
	outline: 0;
	padding: 0 17px;
	text-align: center;
	text-decoration: none;
	transition: all 0.3s;
	user-select: none;
	-webkit-user-select: none;
	touch-action: manipulation;
}

.button:focus {
	color: #171e29;
}

.button:hover {
	background-color: rgb(148, 5, 158);
	fill: #06f;
}

.button:active {
	background-color: rgb(148, 5, 158);
	fill: #06f;
}

@media (min-width: 768px) {
	.button {
		min-width: 170px;
	}
}

@keyframes App-logo-spin {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}
